<!-- VARIAVEL LOCAL DO FORMULÁRIO DO TIPO NGFORM
    PARA TER ACESSO AO OBJETO DO FORMULARIO-->
<form #myForm="ngForm" (submit)="onSubmit(myForm)">
  <!-- DIRETIVA PARA AGRUPAR OS CAMPOS DE UM OBJETO -->
  <div ngModelGroup="informacoes">
    <label>
      <p>Nome</p>
      <!-- NGMODEL DEFINE O CAMPO COMO SENDO PARTE DO
          FORMULÁRIO OBRIGATORIAMENTE PRECISA DO NAME -->
      <input #elNome="ngModel" type="text" name="nome" required minlength="5" ngModel>
      {{ informacoes.nome }}
      <!-- ESTA LISTA DE ERROS SÓ DEVE APARECER QUANDO O CAMPO FOR MEXIDO E ESTÁ INVALIDO -->
      <ul *ngIf="elNome.dirty && elNome.invalid" >
          <li *ngIf="elNome.errors?.required" >Campo é obrigatório</li>
          <li *ngIf="elNome.errors?.minlength" >Nome muito curto</li>
        </ul>
    </label>
    <label>
      <p>Idade</p>
      <!-- NGMODEL COM PROPERTY BIND PUXA PROPRIEDADES DO COMPONENTE
        NO CASO, A IDADE A SER EXIBIDA (25) É A QUE ESTÁ DEFINIDA NO COMPONENTE
        PARA A CHAMADA DESSE VALOR É NECESSÁRIO O CAMINHO ATÉ ELE: INFORMACOES.IDADE-->
      <input type="number" name="idade" [ngModel]="informacoes.idade" [disabled]="elNome.invalid">
    </label>
    <label>
      <p>E-mail</p>
      <!-- NGMODEL COM TWO WAY DATA BIND RECEBE UM VALOR DO COMPONENTE E O ALTERA
          AO MESMO TEMPO, ELE IRÁ RECEBER T@T.COM E PODERÁ SER ALTERADO EM TEMPO REAL-->
      <input [(ngModel)]="informacoes.email" name="email">
    </label>
    <label>
      <p>Confirmar E-mail</p>
      <input type="email" name="confirmaEmail" ngModel>
    </label>
  </div>

  <div ngModelGroup="endereco">
    <label>
      <p>CEP</p>
      <!-- CRIAR VARIAVEL PARA ARMAZENAMENTO DO INPUT DO CEP -->
      <!-- O QUE FOR DIGITADO OU SEJA, O VALOR DO INPUT SERA PASSADO PARA O METODO GETADDRESS
            DISPARADO QUANDO FOR TIRADO O FOCO DO CAMPO -->
      <input type="text" name="cep" ngModel #cep (blur)="getAddress(cep.value)">
    </label>
    <label>
      <p>Endereco</p>
      <input type="text" name="logradouro" ngModel>
    </label>
    <label>
      <p>Número</p>
      <input type="text" name="numero" ngModel>
    </label>
    <label>
      <p>Complemento</p>
      <input type="text" name="complemento" ngModel>
    </label>
    <label>
      <p>Bairro</p>
      <input type="text" name="bairro" ngModel>
    </label>
    <label>
      <p>Cidade</p>
      <input type="text" name="localidade" ngModel>
    </label>
    <label>
      <p>Estado</p>
      <input type="text" name="uf" ngModel>
    </label>
  </div>

  <button type="submit">Enviar</button>
</form>


<pre> {{ myForm.value | json }}</pre>
