  <!-- VARIAVEL LOCAL DO FORMULÁRIO DO TIPO NGFORM
    PARA TER ACESSO AO OBJETO DO FORMULARIO-->
<form #myForm="ngForm" (submit)="onSubmit(myForm)">
  <mat-grid-list cols="1" rowHeight="20:2">
    <mat-grid-tile>
      <mat-form-field>
        <!-- NGMODEL DEFINE O CAMPO COMO SENDO PARTE DO
          FORMULÁRIO OBRIGATORIAMENTE PRECISA DO NAME -->
        <input matInput ngModel placeholder="Nome" name="nome">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <!-- NGMODEL COM PROPERTY BIND PUXA PROPRIEDADES DO COMPONENTE
        NO CASO, A IDADE A SER EXIBIDA (25) É A QUE ESTÁ DEFINIDA NO COMPONENTE
      PARA A CHAMADA DESSE VALOR É NECESSÁRIO O CAMINHO ATÉ ELE: INFORMACOES.IDADE-->
        <input matInput [ngModel]="informacoes.idade" placeholder="Idade" name="idade">
      </mat-form-field>
      Propriedade com interpolação: {{ informacoes.idade }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <!-- NGMODEL COM TWO WAY DATA BIND RECEBE UM VALOR DO COMPONENTE E O ALTERA
        AO MESMO TEMPO, ELE IRÁ RECEBER T@T.COM E PODERÁ SER ALTERADO EM TEMPO REAL-->
        <input matInput [(ngModel)]="informacoes.email" placeholder="Email" name="email">
      </mat-form-field>
      Propriedade com interpolação two-way: {{ informacoes.email }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput ngModel placeholder="Telefone" name="telefone">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput ngModel placeholder="Skype" name="skype">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput ngModel placeholder="Cor" name="cor">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button color="primary">Enviar</button>
</form>
<pre> {{ myForm.value | json }}</pre>
