<!-- A ESQUERDA DO IGUAL É O ATRIBUTO DEFINIDO NO COMPONENTE DA TAG SELETORA -->
<!-- A DIREITA A VARIAVEL LOCAL -->
<!-- <app-input-output [nomeExterno]="nome" (myClick)="handleClick($event)"></app-input-output> -->

<!-- <app-host-listener></app-host-listener> -->
<!-- <app-view-child></app-view-child>-->

<!-- <app-ng-content> -->
  <!-- A DIV ABAIXO SÓ IRÁ APARECER SE NO TEMPLATE TIVER UMA TAG NG-CONTENT -->
  <!-- <div class="header">
    Header
  </div>
  <div class="footer">
    Footer
  </div>
</app-ng-content> -->

<!-- <!-- <app-template-form></app-template-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- VARIAVEL CRIADA NO COMPONENTE SE ELA FOR TRUE MOSTRE CASO FALSE DESTRUA  -->
<!-- <app-life-cycle *ngIf="isVisible"></app-life-cycle> -->


<!-- <app-courses-list></app-courses-list> -->

<!-- Mostra os componentes configurados como rotas no app.routing -->
<router-outlet></router-outlet>

<a routerLink="/cursos/angular">Entrar</a>

